@model ProductsReportAjaxIndexViewModel

<div class="row" style="padding-bottom: 15px;">
    <div class="col-1">
        <select asp-for="PageNumber" asp-items="Model.Pages" class="form-control" id="pagenumber"></select>
    </div>
</div>

<div class="row">
    <div class="col-12">
        @if (Model.ProductsReport != null && Model.ProductsReport.Count > 0)
        {
            string recordsCount;
            if (Model.ProductsReport.Count == 1)
            {
                recordsCount = Model.ProductsReport.Count + " record found";
            }
            else
            {
                recordsCount = Model.ProductsReport.Count + " records found";
            }
            <p class="bg-primary text-white">
                @recordsCount
            </p>

            @* Sıralama *@
            <input asp-for="OrderByExpression" type="hidden" id="orderbyexpressioninput" />
            <input asp-for="OrderByDirectionAscending" type="hidden" id="orderbydirectioninput" />

            <table class="table">
                <thead>
                    <tr>
                        <th>

                            @* Sıralama *@
                            @*@Html.DisplayNameFor(model => model.ProductsReport.FirstOrDefault().CategoryName)*@
                            @{
                                string categoryDisplayName = Html.DisplayNameFor(model => model.ProductsReport.FirstOrDefault().CategoryName);
                            }
                            <a href="#" class="orderbyexpressionlink">@categoryDisplayName</a>
                            &nbsp;
                            @if (!string.IsNullOrWhiteSpace(Model.OrderByExpression) && Model.OrderByExpression == categoryDisplayName)
                            {
                                if (Model.OrderByDirectionAscending)
                                {
                                    <span class="text-primary"><i class="fas fa-sort-up"></i></span>
                                }
                                else
                                {
                                    <span class="text-primary"><i class="fas fa-sort-down"></i></span>
                                }
                            }

                        </th>
                        <th>

                            @* Sıralama *@
                            @*@Html.DisplayNameFor(model => model.ProductsReport.FirstOrDefault().ProductName)*@
                            @{
                                string productDisplayName = Html.DisplayNameFor(model => model.ProductsReport.FirstOrDefault().ProductName);
                            }
                            <a href="#" class="orderbyexpressionlink">@productDisplayName</a>
                            &nbsp;
                            @if (!string.IsNullOrWhiteSpace(Model.OrderByExpression) && Model.OrderByExpression == productDisplayName)
                            {
                                if (Model.OrderByDirectionAscending)
                                {
                                    <span class="text-primary"><i class="fas fa-sort-up"></i></span>
                                }
                                else
                                {
                                    <span class="text-primary"><i class="fas fa-sort-down"></i></span>
                                }
                            }

                        </th>
                        <th>

                            @* Sıralama *@
                            @*@Html.DisplayNameFor(model => model.ProductsReport.FirstOrDefault().UnitPriceText)*@
                            @{
                                string unitPriceDisplayName = Html.DisplayNameFor(model => model.ProductsReport.FirstOrDefault().UnitPriceText);
                            }
                            <a href="#" class="orderbyexpressionlink">@unitPriceDisplayName</a>
                            &nbsp;
                            @if (!string.IsNullOrWhiteSpace(Model.OrderByExpression) && Model.OrderByExpression == unitPriceDisplayName)
                            {
                                if (Model.OrderByDirectionAscending)
                                {
                                    <span class="text-primary"><i class="fas fa-sort-up"></i></span>
                                }
                                else
                                {
                                    <span class="text-primary"><i class="fas fa-sort-down"></i></span>
                                }
                            }

                        </th>
                        <th>

                            @* Sıralama *@
                            @*Html.DisplayNameFor(model => model.ProductsReport.FirstOrDefault().StockAmount)*@
                            @{
                                string stockAmountDisplayName = Html.DisplayNameFor(model => model.ProductsReport.FirstOrDefault().StockAmount);
                            }
                            <a href="#" class="orderbyexpressionlink">@stockAmountDisplayName</a>
                            &nbsp;
                            @if (!string.IsNullOrWhiteSpace(Model.OrderByExpression) && Model.OrderByExpression == stockAmountDisplayName)
                            {
                                if (Model.OrderByDirectionAscending)
                                {
                                    <span class="text-primary"><i class="fas fa-sort-up"></i></span>
                                }
                                else
                                {
                                    <span class="text-primary"><i class="fas fa-sort-down"></i></span>
                                }
                            }

                        </th>
                        <th>

                            @* Sıralama *@
                            @*@Html.DisplayNameFor(model => model.ProductsReport.FirstOrDefault().ExpirationDateText)*@
                            @{
                                string expirationDateDisplayName = Html.DisplayNameFor(model => model.ProductsReport.FirstOrDefault().ExpirationDateText);
                            }
                            <a href="#" class="orderbyexpressionlink">@expirationDateDisplayName</a>
                            &nbsp;
                            @if (!string.IsNullOrWhiteSpace(Model.OrderByExpression) && Model.OrderByExpression == expirationDateDisplayName)
                            {
                                if (Model.OrderByDirectionAscending)
                                {
                                    <span class="text-primary"><i class="fas fa-sort-up"></i></span>
                                }
                                else
                                {
                                    <span class="text-primary"><i class="fas fa-sort-down"></i></span>
                                }
                            }

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ProductsReport)
                    {
                        <tr>
                            <td>
                                @if (string.IsNullOrWhiteSpace(item.CategoryDescription))
                                {
                                    @Html.DisplayFor(modelItem => item.CategoryName)
                                }
                                else
                                {
                                    <a title="@item.CategoryDescription" style="cursor: zoom-in;"><i class="fas fa-info-circle"></i> @item.CategoryName</a>
                                }
                            </td>
                            <td>
                                @if (string.IsNullOrWhiteSpace(item.ProductDescription))
                                {
                                    @Html.DisplayFor(modelItem => item.ProductName)
                                }
                                else
                                {
                                    <a title="@item.ProductDescription" style="cursor: zoom-in;"><i class="fas fa-info-circle"></i> @item.ProductName</a>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UnitPriceText)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StockAmount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExpirationDateText)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p class="bg-primary text-white">
                No records found
            </p>
        }
    </div>
</div>